# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.synctex.gz
*.xdv
*.spl
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.thm
*.lol
*.idx
*.ilg
*.ind
*.brf
*.dvi
*.gz
*.mtc*
*.maf
*.sty
*.sty.orig